{% extends 'base.html.twig' %}
{% block title %}Quienes Somos{% endblock %}
{% block body %}
<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{{ path('index') }}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>Quienes Somos</li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<header class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading">¡Bienvenido a QuickScanCode!</div>
								<h1>Quienes Somos</h1>
							</div>
						</header>
						<div class="col-12">
							<div class="content">

								<p>En QuickScanCode, nos dedicamos a simplificar la generación y seguimiento de códigos QR de manera rápida y personalizada. Nos enorgullece ofrecer una plataforma fácil de usar que te permite crear códigos QR únicos para tus necesidades específicas.</p>
								<h3>Nuestra Misión</h3>
								<p>Nuestra misión es proporcionarte una herramienta versátil y eficiente para generar códigos QR de alta calidad. Creemos en la importancia de la personalización, permitiéndote adaptar cada código QR a tus requisitos exactos.</p>
								<h3>Características Destacadas</h3>
									<ul>
										<li><strong>Personalización Total:</strong>  QuickScanCode te ofrece la posibilidad de personalizar tus códigos QR según tus preferencias. Puedes elegir colores, añadir logotipos y ajustar el diseño para que se adapte a tu estilo.</li>
									</ul>
									<ul>
										<li><strong>Seguimiento Avanzado:</strong>  No solo generamos códigos QR, sino que también te proporcionamos herramientas para realizar un seguimiento efectivo. Obtén información en tiempo real sobre el rendimiento de tus códigos y optimiza tus estrategias.</li>
									</ul>
									<ul>
										<li><strong>Variedad de Tipos: </strong>  Ya sea que necesites códigos QR estáticos, dinámicos, con enlace a redes sociales o eventos, QuickScanCode te ofrece una amplia variedad de tipos para satisfacer tus necesidades específicas.</li>
									</ul>
								<h3>Soluciones Empresariales</h3>
								<p>En QuickScanCode, entendemos la importancia de las soluciones empresariales. Ofrecemos servicios especializados para empresas que buscan integrar la generación y seguimiento de códigos QR de manera eficiente en sus operaciones. Desde la personalización de códigos para marketing hasta la gestión centralizada de campañas, QuickScanCode es tu aliado empresarial.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			{{ include ('partials/_reasons.html.twig')}}

			<section class="section">
				<div class="container">
					<div class="row items">
						<div class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading">Somos la mejor opcion</div>
								<h2>Únete a Nosotros</h2>
								<p class="section-desc">Súmate a la experiencia QuickScanCode y descubre cómo la generación y seguimiento de códigos QR pueden ser más eficientes y personalizados que nunca. ¡Crea, genera, comparte y sigue tus códigos QR con QuickScanCode hoy!</p>
							</div> 
						</div>
						<div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
							<!-- Begin brands item -->
							<div class="brands-item item-style">
								<img data-src="assets/img/brands/circle.png" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
							</div><!-- End brands item -->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
							<!-- Begin brands item -->
							<div class="brands-item item-style">
								<img data-src="assets/img/brands/codelab.png" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
							</div><!-- End brands item -->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
							<!-- Begin brands item -->
							<div class="brands-item item-style">
								<img data-src="assets/img/brands/earth.png" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
							</div><!-- End brands item -->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
							<!-- Begin brands item -->
							<div class="brands-item item-style">
								<img data-src="assets/img/brands/hexa.png" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
							</div><!-- End brands item -->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
							<!-- Begin brands item -->
							<div class="brands-item item-style">
								<img data-src="assets/img/brands/lightai.png" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
							</div><!-- End brands item -->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
							<!-- Begin brands item -->
							<div class="brands-item item-style">
								<img data-src="assets/img/brands/nirastate.png" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
							</div><!-- End brands item -->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
							<!-- Begin brands item -->
							<div class="brands-item item-style">
								<img data-src="assets/img/brands/treva.png" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
							</div><!-- End brands item -->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
							<!-- Begin brands item -->
							<div class="brands-item item-style">
								<img data-src="assets/img/brands/zootv.png" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
							</div><!-- End brands item -->
						</div>
					</div>
				</div>
			</section>

		</div>
{% endblock %}