{% extends 'base.html.twig' %}
{% block title %}Politica de privacidad{% endblock %}
{% block body %}

<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{{ path('index') }}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>Politica de privacidad</li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center section-heading-animate">
								<h1>Politica de privacidad</h1>
							</div>
							<div class="content">
								
								<p>En QuickScanCode, nos comprometemos a proteger la privacidad y la seguridad de nuestros usuarios. Esta política de privacidad explica cómo recopilamos, utilizamos, compartimos y protegemos la información personal de los usuarios que interactúan con nuestro sitio web</p>
							
							
								<h2>Información que recopilamos</h2>
							
								<h4>Información proporcionada por el usuario:</h4>
							
								<p>Esto incluye cualquier información que ingresas en nuestro sitio web, como nombre, dirección de correo electrónico, detalles de contacto, y cualquier otro dato que proporciones al generar códigos QR o al registrarte para obtener una cuenta.</p>
							
								<ul>
									<li>Correo Electronico</li>
									<li>Direccion, ciudad, ZIP, telefono</li>
									<li>Cookies</li>
								</ul>
							
								<h4>Información recopilada automáticamente:</h4>
							
								<p>Recopilamos cierta información automáticamente cuando visitas nuestro sitio web, como tu dirección IP, tipo de navegador, información del dispositivo, páginas visitadas y acciones realizadas en el sitio.</p>
							
								<h4>Uso de cookies:</h4>
								<p>En QuickScanCode, utilizamos cookies para mejorar la experiencia de nuestros usuarios y proporcionar servicios personalizados. Una cookie es un pequeño archivo de texto que un sitio web guarda en tu computadora o dispositivo móvil cuando lo visitas.</p>
								<p>Tipos de Cookies que Utilizamos:</p>
								<ul>
									<li><strong>Cookies de sesion.</strong> Utilizamos cookies de sesión para operaciones esenciales, como mantener abierta tu sesión de usuario.</li>
									<li><strong>Cookies de Preferencias.</strong> Estas cookies permiten a nuestro sitio recordar información que cambia la forma en que se comporta o se ve el sitio, como tu idioma preferido o la región en la que te encuentras.</li>
									
								</ul>
							
								<h2>Uso de la Información</h2>
							
								<p>La información recopilada se utiliza para:</p>
								<ul>
									<li>Proveer, operar y mejorar nuestros servicios.</li>
									<li>Comunicarnos contigo, incluyendo responder a tus consultas, enviar actualizaciones de servicios y ofertas promocionales.</li>
									<li>Analizar cómo los usuarios interactúan con nuestro sitio para mejorar la experiencia del usuario.</li>
								</ul>
							
								<h2>Compartir y Divulgar Información</h2>
								<p>No compartimos, vendemos, alquilamos ni divulgamos tu información personal a terceros, excepto como se describe en esta política.</p>
								<p>Podemos compartir tu información con proveedores de servicios que nos ayudan a operar el sitio web, siempre y cuando estos proveedores estén obligados a proteger tu información de manera similar a esta política.</p>
								<p>La información puede ser divulgada si así lo requiere la ley o para proteger nuestros derechos y los de nuestros usuarios.</p>

								<h2>Seguridad de la Información</h2>
								<p>Implementamos medidas de seguridad técnicas y organizativas para proteger tu información personal contra el acceso no autorizado, la alteración, la divulgación o la destrucción.</p>

								<h2>Cambios en la Política de Privacidad</h2>
								<p>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Te recomendamos revisarla periódicamente. Los cambios entrarán en vigor inmediatamente después de su publicación en nuestro sitio web.</p>
								
								<h2>Contacto</h2>
								<p>Si tienes preguntas o preocupaciones sobre nuestra política de privacidad o prácticas de datos, por favor contáctanos a traves de:</p>
								<ul>
									<li>Correo: quickscancode@gmail.com</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

{% endblock %}