{% extends 'base.html.twig' %}
{% block title %}Suscripciones{% endblock %}
{% block body %}

<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{{ path('index') }}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>Suscripciones</li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

            <section class="section">
    <div class="container">
        <div class="row">
            <header class="col-12">
                <div class="section-heading heading-center">
                    <div class="section-subheading">¡Hazte Premium!</div>
                    <h1>Planes y Suscripciones</h1>
                    <p class="section-desc">Deseamos que la generación de códigos QR sea una experiencia simple, fácil y rápida, accesible para cualquier persona, sin importar el propósito que tenga en mente. Crear una cuenta en QuickScanCode es completamente gratuita y generalmente satisfará todas tus necesidades en cuanto a la generación de los códigos QR que requieras. Además, ofrecemos una suscripción premium que te permite almacenar tus códigos en línea y realizar un seguimiento detallado. ¡Haz que la creación y gestión de códigos QR sea aún más eficiente con nuestra suscripción premium!</p>
                </div>
            </header>
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                
</div>
<div class="col-md-6">
</div>

</div>
</div>
</div>
</div>
{% endblock %}