{% extends 'base.html.twig' %}
{% block title %}Terminos y condiciones{% endblock %}
{% block body %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{{ path('index') }}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>Terminos y condiciones</li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading heading-center section-heading-animate">
                    <h1>Términos y Condiciones</h1>
                </div>
                <div class="content">
                    <p>Bienvenido a QuickScanCode. Al acceder y utilizar nuestro sitio web y servicios, usted acepta estar sujeto por estos Términos y Condiciones, todas las leyes y regulaciones aplicables, y acepta que es responsable del cumplimiento de cualquier ley local aplicable. Si no está de acuerdo con alguno de estos términos, se le prohíbe usar o acceder a este sitio.</p>
                    <h2>Uso de Licencia</h2>
                    <p>Se otorga permiso para descargar temporalmente una copia de los materiales (información o software) en QuickScanCode solo para visualización transitoria personal y no comercial.</p>
                    <h2>Descargo de Responsabilidad</h2>
                    <p>Los materiales en QuickScanCode se proporcionan "tal cual". QuickScanCode no ofrece garantías, expresadas o implícitas.</p>
                    <h2>Limitaciones</h2>
                    <p>En ningún caso QuickScanCode o sus proveedores serán responsables por cualquier daño que surja del uso o incapacidad para usar los materiales en QuickScanCode.</p>
                    <h2>Precisión de los Materiales</h2>
                    <p>Los materiales que aparecen en QuickScanCode podrían incluir errores técnicos, tipográficos o fotográficos. QuickScanCode puede hacer cambios a los materiales contenidos en su sitio web en cualquier momento sin aviso. Sin embargo, QuickScanCode no se compromete a actualizar los materiales.</p>
                    <h2>Enlaces</h2>
                    <p>QuickScanCode no ha revisado todos los sitios vinculados a su sitio web y no es responsable del contenido de ningún sitio vinculado. El uso de cualquier sitio web vinculado es por cuenta y riesgo del usuario.</p>
                    <h2>Modificaciones</h2>
                    <p>QuickScanCode puede revisar estos Términos y Condiciones para su sitio web en cualquier momento sin previo aviso. Al usar este sitio web, usted acepta estar vinculado por la versión actual de estos Términos y Condiciones.</p>
                    <h2>Ley Gobernante</h2>
                    <p>Cualquier reclamación relacionada con QuickScanCode se regirá por las leyes del país del propietario de QuickScanCode sin tener en cuenta su conflicto de disposiciones legales.</p>
                    <h2>Contacto</h2>
                    <p>Para cualquier pregunta o solicitud relacionada con estos Términos y Condiciones, por favor contáctenos a través de quickscancode@gmail.com.</p>
                </div>
            </div>
        </div>
    </div>
</div>

		</div>
{% endblock %}