<div class="col-md-6 col-xl-4 col-12" id="cookiesModal" style="display:none;">
    <div class="item item-style item-hover">
        <span class="close-button" onclick="cerrarCookiesModal()">&times;</span>
        <div class="item-icon">
            <i class="material-icons material-icons-outlined md-48">cookie</i>
        </div>
        <div class="iitem-icon-bg">
            <i class="material-icons material-icons-outlined">cookie</i>
        </div>
        <h2 class="item-heading item-heading-large">Política de Cookies</h2>
        <div class="item-desc">Utilizamos cookies para mejorar tu experiencia en nuestro sitio web. Al continuar navegando, aceptas su uso.</div><br>
        <div class="btn-group">
        <button onclick="aceptarCookies()" class="btn btn-border btn-small ripple">
            <span>Mas opciones<span>
        </button>
        <button onclick="aceptarCookies()" class="btn btn-border btn-small ripple">
            <span>Aceptar Cookies<span>
        </button>
        </div>
    </div>
</div>
<script src="assets/js/cookies.js"></script>
