<section class="section section-bgc">
				<div class="container">
					<div class="row litems">
						<div class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading">Razones</div>
								<h2>¿Por qué QuickScanCode?</h2>
							</div> 
						</div>
						<div class="col-lg-4 col-md-6 col-12 litem">
							<div class="ini">
								<div class="ini-count">01</div>
								<div class="ini-info">
									<h3 class="ini-heading item-heading-large">Alta calidad en la generación de códigos QR personalizables</h3>
									<div class="ini-desc">
										<p>Ofrecemos códigos QR visualmente atractivos y de alta calidad, adaptados a necesidades personales y empresariales.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 litem">
							<div class="ini">
								<div class="ini-count">02</div>
								<div class="ini-info">
									<h3 class="ini-heading item-heading-large">Soporte dedicado</h3>
									<div class="ini-desc">
										<p>Nuestro equipo de soporte técnico está disponible en todo momento para resolver cualquier problema relacionado con los códigos QR.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 litem">
							<div class="ini">
								<div class="ini-count">03</div>
								<div class="ini-info">
									<h3 class="ini-heading item-heading-large">Seguimiento Avanzado de QR</h3>
									<div class="ini-desc">
										<p>Nuestra plataforma ofrece capacidades avanzadas de seguimiento de códigos QR, permitiéndote recopilar datos valiosos para optimizar campañas y comprender el comportamiento de los usuarios.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 litem">
							<div class="ini">
								<div class="ini-count">04</div>
								<div class="ini-info">
									<h3 class="ini-heading item-heading-large">Opciones gratuitas y de pago</h3>
									<div class="ini-desc">
										<p>Ofrecemos una variedad de tipos de códigos QR, incluyendo opciones gratuitas que se ajustan a tu necesidad.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 litem">
							<div class="ini">
								<div class="ini-count">05</div>
								<div class="ini-info">
									<h3 class="ini-heading item-heading-large">Seguridad</h3>
									<div class="ini-desc">
										<p>Priorizamos la seguridad de tus datos y la confidencialidad de la información generada. Puedes confiar en QuickScanCode para proteger tus datos.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 litem">
							<div class="ini">
								<div class="ini-count">06</div>
								<div class="ini-info">
									<h3 class="ini-heading item-heading-large">Facilidad de Uso</h3>
									<div class="ini-desc">
										<p>Nuestra aplicacion para la generación de códigos QR esta diseñada con un alto nivel de usabilidad, permitiendo a los usuarios crear, personalizar y utilizar códigos QR de manera facil y sencilla.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>