<div id="registroModal" class="modal accordion-item" style="display:none;">
    
    <div class="modal-content section-bgc">
        <span class="close-button" onclick="cerrarModal()">&times;</span>
        <div class="">
        <p>¿Ya te has registrado?</p>
        <p>Si no lo has hecho, te invitamos a registrarte para disfrutar de todas nuestras funcionalidades.</p>
        <a onclick="window.location.href='{{ path('register') }}'" class="btn btn-border btn-small ripple">
        <span>Register</span>
        </a>
        </div>
    </div>
    
    <script src="assets/js/alert.js"></script>
</div>