<nav class="bread-crumbs" id="scrollUp">
    <div class="container">
        <div class="row">
            <div class="col">
                <a onclick="topFunction()" id="myBtn" title="Volver arriba" class="btn"><span>↑ Volver Arriba</span></a>
            </div>
        </div>
    </div>
</nav>