<div class='col-md-2'>
		<div class="form-group">
		<label for="textqr">Tamaño</label>
		<select class='form-control sizeqr'>
			<option value='100'>100 px</option>
			<option value='200'>200 px</option>
			<option value='300' selected>300 px</option>
			<option value='400'>400 px</option>
			<option value='500'>500 px</option>
		</select>	
		</div>
</div>