.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000000;
    z-index: 1000;
    border-radius: 10px;
    /* Más estilos según tus necesidades */
}

.modal-content {
    position: relative;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

#myBtn {
    position: fixed; /* Posición fija */
    bottom: 20px; /* 20px desde el fondo */
    right: 30px; /* 30px desde la derecha */
    z-index: 99; /* Asegura que esté sobre otros elementos */
    border: none; /* Sin borde */
    outline: none; /* Sin contorno */
    background-color: #333; /* Color de fondo */
    color: white; /* Color del texto */
    cursor: pointer; /* Cambia el cursor a una mano */
    padding: 15px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
}

#myBtn:hover {
    background-color: #555; /* Color de fondo al pasar el ratón */
}

#cookiesModal {
    position: fixed; /* Fija el modal en la pantalla */
    bottom: 20px; /* 20px desde el fondo */
    right: 30px; /* 30px desde la derecha */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
     /* Ancho del modal */
    border-radius: 10px; /* Bordes redondeados */
    background-color: white; /* Color de fondo */
    /* Espaciado interno */
    border: 1px solid #000000;
}

.section {
    background: #f9f9f9;
    padding: 40px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.section-heading.heading-center {
    margin-bottom: 50px;
}

.section-subheading {
    color: #007bff;
    text-transform: uppercase;
    font-weight: bold;
}

.section-desc {
    margin-bottom: 35px;
    color: #666;
}

#qr-generator {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.option-button {
    background-color: #e9ecef; /* Color de fondo */
    border: none; /* Quitamos el borde para un look más moderno */
    border-radius: 0.25rem; /* Borde redondeado */
    padding: 0.5rem 1rem; /* Espaciado interno */
    font-size: 0.875rem; /* Tamaño del texto */
    color: #495057; /* Color del texto */
    cursor: pointer; /* Cursor de mano para indicar clic */
    display: inline-flex; /* Display inline-flex para centrar íconos y texto */
    align-items: center; /* Centrar elementos verticalmente */
    transition: background-color 0.2s, box-shadow 0.2s; /* Transición suave para el fondo y la sombra */
}

.option-button:hover {
    background-color: #dae0e5; /* Cambio de color al pasar el cursor */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar sensación de elevación */
}

.option-button:active {
    background-color: #cbd3da; /* Color al hacer clic */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Sombra más pequeña al hacer clic */
}

.option-button i {
    font-size: 1.25rem; /* Tamaño del ícono */
    margin-right: 0.5rem; /* Espaciado derecho para el ícono */
}

#input-area {
    margin-bottom: 20px;
}

#qr-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 10px;
}

#generate-qr {
    padding: 8px 15px; /* Reducción del espaciado interno para un tamaño más compacto */
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Texto en blanco para contraste */
    border: none; /* Sin bordes para un diseño limpio */
    border-radius: 4px; /* Bordes redondeados para suavidad */
    cursor: pointer; /* Cursor de mano para indicar interactividad */
    width: 100%; /* Ancho completo para ocupar el contenedor */
    transition: background-color 0.2s, transform 0.2s; /* Transiciones suaves */
}

#generate-qr:hover {
    background-color: #0056b3; /* Color de hover más oscuro para mayor contraste */
    transform: translateY(-2px); /* Efecto de elevación al pasar el cursor */
}

#generate-qr:active {
    background-color: #004085; /* Color aún más oscuro al hacer clic */
    transform: translateY(1px); /* Efecto de presión para feedback de clic */
}

#qr-code {
    margin-top: 20px;
}

.qr-section {
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.qr-preview {
    margin-bottom: 30px;
}

.qr-preview img {
    max-width: none; /* Ajusta este valor al tamaño deseado */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin: auto; /* Esto centrará la imagen en el div si el div es más ancho que la imagen */
}

.qr-options .option-category h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.qr-options .option-category .new {
    font-size: 14px;
    color: #28a745;
    margin-left: 5px;
}

.qr-options .options {
    justify-content: space-around;
}

.qr-options .frame-option {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 0px;
    font-size: 14px;
    color: #495057;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.qr-options .frame-option img {
    max-width: 100px;
    height: auto;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 5px;
}

.images-row {
    margin-bottom: 0px;
    display: flex; /* Esto alineará las imágenes horizontalmente */
    justify-content: space-around; /* Esto distribuirá el espacio uniformemente alrededor de los elementos */
    padding: 5px; /* Opcional, añade algo de relleno alrededor de las imágenes */
    
}

  /* Estilo para el texto 'Sube tu archivo' */
.upload-link {
  display: block;
  padding: 12px 16px;
  background-color: #ddd; /* Light grey background */
  text-align: center; /* Center the text */
  margin-top: 10px; /* Space from the images above */
  border-top: 1px solid #ccc; /* Line to separate from the images */
  cursor: pointer; /* Change cursor to indicate it's clickable */
}

  /* Estilo para el área de subida de archivos */
  .upload-area {
    border-top: 1px solid #ccc; /* Línea sutil para separar del contenido anterior */
    padding: 10px; /* Espaciado adecuado dentro del área para una mejor visualización */
    margin-bottom: 0; /* Mantenemos el margen inferior en 0 para un espaciado consistente */
    background-color: #f8f9fa; /* Un fondo ligeramente diferente para destacar el área de subida */
    transition: background-color 0.2s; /* Transición suave para el cambio de color de fondo */
}

.upload-area:hover {
    background-color: #e9ecef; /* Cambio de color al pasar el mouse para indicar interactividad */
}

.upload-link {
    display: block;
    padding: 8px 12px; /* Tamaño más pequeño mediante reducción del padding */
    background-color: #ddd; /* Color de fondo original */
    text-align: center;
    margin-top: 5px;
    border-top: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px; /* Bordes redondeados para un diseño suave */
    transition: background-color 0.2s, transform 0.2s; /* Transiciones suaves */
  }
  
  .upload-link:hover {
    background-color: #bbb; /* Color de hover más oscuro para mayor contraste */
    transform: translateY(-2px); /* Efecto de elevación al pasar el cursor */
  }
  
  .upload-link:active {
    background-color: #aaa; /* Color aún más oscuro al hacer clic */
    transform: translateY(1px); /* Efecto de presión para feedback de clic */
  }
.download-options {
    margin-top: 20px;
    display: flex; /* Asegura una alineación adecuada si tienes múltiples elementos */
    flex-direction: column; /* Alinea los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

.download-button {
    padding: 10px 20px; /* Espaciado interno para un mejor aspecto */
    background-color: #28a745; /* Color de fondo verde */
    color: white; /* Texto blanco para contraste */
    border: none; /* Sin bordes para un look más limpio */
    border-radius: 4px; /* Bordes redondeados suavemente */
    cursor: pointer; /* Cursor de mano para interactividad */
    margin-top: 10px; /* Margen superior para separar de otros elementos */
    width: 100%; /* Ancho completo para destacar en su contenedor */
    transition: background-color 0.2s, transform 0.2s; /* Transición suave para color y transformación */
}

.download-button:hover, .download-button:focus {
    background-color: #218838; /* Color más oscuro al pasar el cursor o enfocar */
    outline: none; /* Remueve el contorno al enfocar para un look más limpio */
    transform: translateY(-2px); /* Ligeramente elevado al pasar el cursor o enfocar */
}

.download-button:active {
    background-color: #1e7e34; /* Color aún más oscuro al hacer clic */
    transform: translateY(1px); /* Simula presión al hacer clic */
}


label.error {
    font-weight: bold;
    font-size: 0.9em;
}

.form-group {
    margin-top: 20px; /* Agrega espacio en la parte superior */
    margin-bottom: 20px;
}

.sizeqr {
    display: block;
    width: 100%; /* Asegura que el selector ocupe todo el ancho disponible */
    padding: 0.375rem 1.75rem 0.375rem 0.75rem; /* Ajusta el espaciado interno */
    font-size: 1rem; /* Tamaño de fuente adecuado para la legibilidad */
    line-height: 1.5; /* Espaciado de línea para mejorar la legibilidad */
    color: #495057; /* Color del texto para contraste */
    background-color: #fff; /* Fondo blanco para el selector */
    background-clip: padding-box;
    border: 1px solid #ced4da; /* Borde sutil */
    border-radius: 0.25rem; /* Bordes redondeados para un look moderno */
    appearance: none; /* Deshabilita el estilo predeterminado del navegador */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>'); /* Ícono de flecha personalizado */
    background-repeat: no-repeat, repeat; /* Asegura que el ícono de flecha no se repita */
    background-position: right 0.75rem center, 0 0; /* Posiciona el ícono de flecha */
    background-size: 8px 10px; /* Tamaño del ícono de flecha */
    margin-left: 5px;
}

.sizeqr:focus {
    border-color: #80bdff; /* Color del borde al enfocar */
    outline: 0; /* Elimina el contorno predeterminado */
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); /* Sombra sutil alrededor para enfocar */
}

@media (max-width: 767px) {
    .options {
        flex-direction: column;
    }

    .qr-section, #qr-generator {
        margin-bottom: 20px;
    }

    .row > .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}