.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    background-color: white;
    padding: 20px;
    z-index: 1000;
    /* Más estilos según tus necesidades */
}

.modal-content {
    position: relative;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}